@model IEnumerable<ParkplatzVerwaltungsTool.Models.PermamentUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermamentUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingPlaceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPayDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PermamentUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingPlaceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPayDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PermamentUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PermamentUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PermamentUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
