@model IEnumerable<ParkplatzVerwaltungsTool.Models.ParkingHouse>

@{
    ViewData["Title"] = "Parkhaus verwalten";
}

<h1>Parkhaus verwalten</h1>

<p>
    <a asp-action="Create">Neues Parkhaus erfassen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingHouseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingHouseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingHouseId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingHouseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingHouseId">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
